body {
    margin: 0;
    padding: 0;
    font-family: "Geologica", sans-serif;
    background-color: #000000;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    position: relative;
}

/* This CSS class will make the popup cover the screen */
.ios-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: rgb(0, 0, 0);
    /* Adjust to match your design */
}

.confirm_btn {
    padding: 9px 20px;
    background: #DA4E4B;
    border-radius: 6px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: none;
    margin-top: 6px;
}

.confirm_btn:focus {
    border: none;
}


#background-audio {
    visibility: hidden;
    height: 0;
    width: 0;
}

.popup {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.main-modal .modal_wrap {
    position: relative;

}

.main-modal .modal_wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.32);
    z-index: 1;
    height: 100vh;
    width: 100%;
}

.main-modal .modal_wrap .head .title {
    font-size: 16px;
    font-weight: 300;
}

.main-modal .modal_wrap .head .logo {
    height: auto;
    width: 34px;
}

.main-modal .modal_wrap .body .step_group {
    margin-top: 40px;
}

.main-modal .modal_wrap .body .step_group .step {
    font-size: 14px;
    line-height: 20px;
    color: #181819;
    font-weight: 400;
    margin-bottom: 10px;
}

.main-modal .modal_wrap .body .card .wrap .badge {
    position: absolute;
    top: -3px;
    right: -5px;
    background-color: #ff0500;
    font-size: 10px;
    font-weight: 500;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-modal .modal_wrap .body .card .wrap {
    position: relative;
    width: 74px;
    height: 74px;
}

.main-modal .modal_wrap .body .card .logo {
    width: 74px;
    height: 74px;
    display: block;
    object-position: center;
    object-fit: contain;
}

.main-modal .modal_wrap .body .card .desc {
    font-size: 14px;
    font-weight: 300;
    color: #181819;
}

.main-modal .modal_wrap .body .card .card-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #000000;
}

.main-modal .modal_wrap .body .card {
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 12px;
    z-index: 2;
    position: absolute;
    bottom: 84px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}

.main-modal .modal_wrap .body .card_btn {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    background-color: #fff;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
    color: #373737;
    padding: 10px;
}

.main-modal .modal_wrap .body .heading {
    font-size: 14px;
    line-height: 20px;
    color: #181819;
    font-weight: 500;
    margin-top: 44px;
}

.main-modal .modal_wrap .body .description,
.main-modal .modal_wrap .body .description .para {
    font-size: 12px;
    line-height: 20px;
    color: #181819;
    font-weight: 400;
    margin-bottom: 10px;
}

.main-modal .modal_wrap .body .description .para {
    color: #ff0500;
    margin-bottom: 40px;
}

.main-modal .modal_wrap .body .title {
    font-size: 18px;
    line-height: 28px;
    color: #ff0500;
    font-weight: 300;
    margin-bottom: 32px;
}

.main-modal .modal_wrap .body {
    padding: 40px 20px;
    height: calc(100vh - 61.68px);
}

.main-modal .modal_wrap .head {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #282828;
}

.main-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    position: absolute;
    background-color: #fff;
    height: 100vh;
}

.main-modal-2 .title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.main-modal-2 .warning_logo {
    height: 80px;
    width: 80px;
}

.main-modal-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.78);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


@media (max-width:480px) {
    .main-modal {
        width: 100%;
    }

    .main-modal .modal_wrap .body .card {
        width: 322px;
    }

    .main-modal .modal_wrap .body .card_btn {
        width: 322px;
        padding: 12px 10px;
    }
}

@media (max-width:320px) {

    .main-modal .modal_wrap .body .card {
        width: 300px;
    }

    .main-modal .modal_wrap .body .card_btn {
        width: 300px;
    }
}